.about-content{
    row-gap: 40px;
}
  /*About Section*/
  .section-a{
    font-size: 44px;
    color: black;
    padding: 20px 0;
    position: relative;
    line-height: 1.2;
  }
  .section-a p{
    margin-top: 26px;
  }
  .section-a::before{
    content: "";
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    height: 5px;
    width: 60px;
    background: rgb(87, 100, 222);
    background: linear-gradient(45deg, rgba(87, 100, 222, 1) 0%, rgba(85, 179, 213, 1) 100%);
  }

  /*Screen Responsiveness*/
  @media screen and (max-width: 768px){
    .section-a{
        text-align: center;
      }
      .section-a::before{
        left: 45%;
        transform: translateX(0);
      }
}

@media screen and (min-width: 992px){
    .about-content{
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        column-gap: 60px;
    }
    .section-a{
        text-align: left;
      }
      .section-a::before{
        left: 0;
        transform: translateX(0);
      }
}
  
  /* hover effect */
  .translate-effect:hover{
    transform: translateY(-20px);
  }